<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /php-admin-panel/

    # Redirect requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
    
    # Set default directory index
    DirectoryIndex views/auth/login.php

</IfModule>
